<div class="page" style="background: linear-gradient(90deg, #fff7ad, #ffa9f9);">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="content-wrapper">
                    
                    <div class="heart">
                        <div class="position-relative" style="z-index: 1000; margin-bottom: 58px;">
                            <p>А ты точно моя любимая Анечка?</p>
                        </div>
                    </div>
                    
                    <div class="heart-buttons-wrapper w-100 d-flex justify-content-around">
                        <div class="btn btn-heart btn-heart-yes" @onclick="OnYesClick">
                            Да!!!
                        </div>
                        
                        <div class="btn btn-heart btn-heart-no" @onclick="OnNoClick">
                            Нет...
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public EventCallback OnYes { get; set; }
    [Parameter] public EventCallback OnNo { get; set; }
    
    void OnYesClick()
    {
        OnYes.InvokeAsync();
    }
    
    void OnNoClick()
    {
        OnNo.InvokeAsync();
    }
}