@inherits LayoutComponentBase
@inject IStageStateService StageState

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="d-flex justify-content-start align-items-center gap-4 mb-4 p-4 position-absolute w-100"
     style="border: 3px solid red; top: 0; left: 0; height: 40px; background: rgba(255,255,255,0.5)">
    <button class="btn btn-primary d-block" @onclick="PreviousStage">Previous Stage</button>
    <button class="btn btn-primary d-block" @onclick="NextStage">Next Stage</button>
</div>


@if (string.IsNullOrWhiteSpace(_currentStage))
{
    <p>loading...</p>
}
else
{
    switch (_currentStage)
    {
        case StageStateService.AuthStage:
            <AuthStage OnFinish="NextStage"/>
            break;
        case StageStateService.LoveLetterStage:
            <LoveLetterStage />
            break;
        case StageStateService.DreamsStage:
            <DreamsStage />
            break;
        case StageStateService.BehindTheScenesStage:
            <BehindTheScenesStage />
            break;
        default:
            <p>Stage not found...</p>
            break;
    }
}

@code {
    string? _currentStage;
    
    protected override void OnInitialized()
    {
        var stage = StageState.GetCurrentStage();
        _currentStage = stage;
    }
    
    void NextStage()
    {
        StageState.SetNextStage();
        _currentStage = StageState.GetCurrentStage();
    }
    
    void PreviousStage()
    {
        StageState.SetPreviousStage();
        _currentStage = StageState.GetCurrentStage();
    }
}
